# Dependencies
node_modules/

# Environment variables
.env

# Prisma
prisma/*.db
prisma/*.db-journal

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Client environment files
client/.env
client/.env.local
client/.env.*.local
